*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#F7F6FD;
}

header{
background:#6C4CF1;
color:white;
display:flex;
align-items:center;
gap:15px;
padding:18px;
}

header a{
color:white;
font-size:22px;
text-decoration:none;
}

.contenedor{
padding:20px;
}

.opcion{

background:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:18px;

margin-bottom:15px;

border-radius:15px;

box-shadow:0 5px 12px rgba(0,0,0,.1);

}

.opcion i{

color:#6C4CF1;

font-size:22px;

margin-right:15px;

}

.opcion span{

flex:1;

font-size:17px;

}

input[type="checkbox"]{

width:22px;

height:22px;

}

.cerrar{

display:block;

width:100%;

padding:15px;

margin-top:30px;

background:#E53935;

color:white;

text-align:center;

text-decoration:none;

border-radius:30px;

font-size:18px;

}