*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
body{
    background-color:#F7F6FD;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login{
    background-color: #F7F6FD;
    padding: 35px;
    width: 360px;
    border-radius: 20px;
    box-shadow: 0 0 15px 
    rgba(0,0,0,.1);
    text-align: center;
}
.logo{
    width: 90px;
    margin-bottom:15px;
}
h1{
    color: #6C4CF1;
    margin-bottom: 10px;
}
p{
    margin-bottom: 20px;
    color: #555;
}
input{
    width:100%;
    padding: 14px;
    margin-top: 15px;
    border-radius: 10px;
    border:1px solid #ccc;
    font-size:16px;
}
.password{
    display:flex;
    margin-top: 15px;
}
.password input{
    flex: 0.1;
    margin-top:0;
}
.password button{
    width: 60px;
    margin-left:5px;
}
.recordar{
    display:flex;
    margin-top:20px;
    align-items: center;
    gap:10px;
}
.recordar input{
    width: auto;
    margin:0;
}
#ingresar{
    width: 100%;
    padding:15px;
    margin-top: 25px;
    background: #6C4CF1;
    border:none;
    font-size:18px;
    border-radius:30px;
    cursor:pointer;
}
a{
    color:#6C4CF1;
    text-decoration:none;
    font-weight:bold;
}