*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}
body{
    background:#F7F6FD;
}
header{
    background:#6C4CF1;
    color:white;
    display:flex;
    align-items:center;
    gap:15px;
    padding:18px;
}
header a{
    color:white;
    font-size:22px;
    text-decoration:none;
}
.contenedor{
    padding:20px;
}
.foto{
    border:2px dashed #6C4CF1;
    border-radius:15px;
    text-align:center;
    padding:30px;
    margin-bottom:20px;
    color:#6C4CF1;
}
.foto i{
    font-size:50px;
    margin-bottom:10px;
}
.foto input{
    margin-top:15px;
}
input,
select,
textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
}
textarea{
    height:120px;
    resize:none;
}
.sexo{
    display:flex;
    gap:25px;
    margin-bottom:20px;
}
button{
    width:100%;
    padding:15px;
    background:#6C4CF1;
    color:white;
    border:none;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
}